<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>postApp</title>
  </head>
  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="#"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <img
              class="company-logo"
              src="./assets/company-logo.png"
              alt="company-logo"
            />
          </a>
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              #searchInput
              type="search"
              class="form-control form-control-dark text-bg-light"
              placeholder="Search product..."
              aria-label="Search"
              name="productSearch"
              (input)="searchProducts(searchInput.value)"
            />
          </form>
          <div class="text-end">
            @if(isLoggedIn){
            <button
              type="button"
              class="btn btn-warning me-2"
              (click)="onAccountInfo()"
            >
              Account
            </button>
            <button
              type="button"
              class="btn btn-secondary me-2"
              (click)="onAddProduct()"
            >
              Add Product
            </button>
            <button
              type="button"
              class="btn btn-danger me-2"
              (click)="openLogoutModal()"
            >
              Logout
            </button>
            <a class="favourite" (click)="onFavourite()">
              <span
                class="fav material-icons"
                style="font-size: 2rem; color: hotpink"
                >favorite</span
              >
              <div class="favourite-count">{{ favProductsSize }}</div>
            </a>
            }@else {
            <button
              type="button"
              class="btn btn-outline-light me-2"
              (click)="onLogin()"
              routerLink="login"
            >
              Login
            </button>
            <button
              type="button"
              class="btn btn-warning me-2"
              (click)="onSignup()"
            >
              Sign-up
            </button>
            }
          </div>
        </div>
      </div>
    </header>
  </body>
  <!-- Delete Confirmation Modal -->
  <div
    class="modal"
    tabindex="-1"
    [ngClass]="{ 'show d-block': showLogoutModal }"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Logout</h5>
          <button
            type="button"
            class="btn-close"
            (click)="closeLogoutModal()"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to
            <strong>logout</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark btn-secondary"
            (click)="closeLogoutModal()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-outline btn-danger"
            (click)="onLogout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Backdrop -->
  @if(showLogoutModal){

  <div class="modal-backdrop fade show"></div>
  }
</html>
