<div class="backdrop" (click)="onCloseTask()"></div>
<dialog open>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="onCloseTask()"
  ></button>
  <img [src]="getImageUrl(product!.imagePath)" class="card-img-detail" />
  <h2>{{ product?.productName }}</h2>
  <form>
    <h3>₹{{ product?.productPrice }}</h3>
    <!-- @if(isLoggedIn){
    <a style="border: none" (click)="onSelectFavourite()">
      <i
        class="fav material-icons"
        style="font-size: 2rem"
        [style.color]="product?.isLiked === true ? 'hotpink' : 'gray'"
        >favorite</i
      >
    </a>
    } -->

    <p>
      <label for="summary">{{ product?.productDescription }}</label>
    </p>
    <section class="btn-container">
      <a href="#" class="btn btn-warning">Buy now</a>
      <a href="#" class="btn btn-outline-dark me">Add to cart</a>
      <i class="material-icons delete-icon" (click)="openDeleteModal(product!)"
        >delete</i
      >
    </section>
  </form>
</dialog>

<!-- Delete Confirmation Modal -->
<div
  class="modal"
  tabindex="-1"
  [ngClass]="{ 'show d-block': showDeleteModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeDeleteModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete
          <strong>{{ product?.productName }}</strong
          >?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark btn-secondary"
          (click)="closeDeleteModal()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-outline-danger btn-danger"
          (click)="onDeleteProduct()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Backdrop -->
@if(showDeleteModal){

<div class="modal-backdrop fade show"></div>
}
