<app-header [isLoggedIn]="isLoggedIn" (auth)="onAuthSelected($event)" />
<main>
  <app-products [isLoggedIn]="isLoggedIn" />
  @if(isLoginSelected){
  <app-login
    (onLoginSuccess)="onLogin($event)"
    (closeLogin)="onCloseAuth()"
    [authType]="this.auth"
  />
  }@if(isSignupSelected) {
  <app-signup (closeSignup)="onCloseAuth()" [authType]="this.auth" />
  } @if(isFavouritesSelected) {
  <app-favourites (closeFavourites)="onCloseAuth()" [authType]="this.auth" />
  } @if(isAddProductSelected){
  <app-new-product [title]="this.auth" (closeAddProduct)="onCloseAuth()" />
  }@if(isAccountInfoSelected){
  <app-user-account [authType]="this.auth" (closeUserAccount)="onCloseAuth()" />
  }
</main>
