<a class="card">
  <img
    class="card-img-top"
    [src]="favouriteProduct.imagePath"
    alt="product-image"
    (click)="onProductClick()"
  />
  <div class="card-body">
    <h2 (click)="onProductClick()" class="card-title">
      {{ favouriteProduct.productName }}
    </h2>
    <h4 (click)="onProductClick()">₹{{ favouriteProduct.productPrice }}</h4>
    <p class="card-text" (click)="onProductClick()">
      {{ favouriteProduct.productDescription }}
    </p>
    <!-- <a style="border: none" (click)="onRemoveFavourite()">
      <i class="del material-icons" style="font-size: 2rem; color: red"
        >delete</i
      >
    </a> -->
  </div>
</a>
