<div class="backdrop" (click)="onCloseFavourites()"></div>
<dialog open>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="onCloseFavourites()"
    ></button>
  </div>
  @for (favProd of productData; track favProd.productId) {

  <app-favourite
    [favouriteProduct]="favProd"
    (showProductDetails)="onShowProductDetail($event)"
  />
  }
  <p class="actions">
    <button type="button" (click)="onCloseFavourites()">Close</button>
  </p>
</dialog>
<!-- @if(this.isProductSelected){
<app-product-summary [product]="selectedProduct" (closeTask)="onCancelTask()" />
} -->
